.container {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-gap: 10px;
    height: 60vh;
}
.item {
    background-color: burlywood;
    border: 1px solid black;
    font-size: 30px;
}

.item1 {
    grid-column: 1 ;
    grid-row: 2;
}
.item2 {
    grid-column: 1 / 3;
    grid-row: 1;
}
.item3 {
    grid-column: 2;
    grid-row: 1 / 3;
}

.item5 {
    grid-column: -2 / -1;
}